.movie-card {
    transition: transform linear 0.2s;
}

.movie-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.movie-card.disable-hover {
    pointer-events: none;
}

.modal-title,
.modal-body {
    color: black;
}



.carousel-control-next-icon,
.carousel-control-prev-icon {
    border-radius: 50% !important;
    background-color: rgb(44, 39, 39);
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item div {
        display: none;
    }

    .carousel-inner .carousel-item div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}